* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primario: #bc4ed8;
  --secundario: #c8c7c3;
  --tercero: #7c19ed;
  --cuarto: #8503ca;
  --quinto: #26b13b;
}

body {
  height: 100%;
  display: flex;
  width: 100%;
  font-family: "PT Serif", serif;
  z-index: -1;
}

.container-main {
  width: 100%;
  height: 100%;
}

/* inicio estilos header */
header {
  height: 120px;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: var(--primario);
}

header h1 {
  padding-bottom: 20px;
  font-size: 35px;
  font-family: "Fascinate Inline", cursive;
}

header .container-btn button {
  margin: 3px;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header .container-btn button:hover {
  background-color: var(--cuarto);
}

/* inicio estilos main */
main {
  width: 100%;
  min-height: 100vh;
  background-image: url(imagenes/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .container-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.top-text #text-t,
#text-b {
  width: 100%;
  text-align: center;
  padding: 8px;
  word-break: break-all;
}

.img-div {
  width: 600px;
  height: 550px;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.top-text {
  width: 600px;
  padding: 30px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 0;
}

.bottom-text {
  width: 600px;
  padding: 30px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  bottom: 0;
}

.button-download {
  margin-top: 70px;
  padding: 15px;
  background-color: var(--quinto);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}

/* inicio estilos aside */
aside {
  width: 20%;
  background-color: var(--secundario);
  position: relative;
  padding: 15px;
}

aside #close-btn {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

/* Modal uno ---- imagen */
.modal-img {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px 15px;
}

.modal-img h2 {
  text-align: center;
  padding-bottom: 20px;
}

.modal-img .label-url {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-img .label-Ib {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  font-size: 14px;
}

.modal-img .container-bg {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 30px;
}

.modal-img h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.modal-img .label-url #url-img {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.modal-img .container-bg .input-color-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50%;
  height: 30px;
  gap: 5px;
  padding: 10px;
  font-size: 10px;
  background-color: #808080;
  border-radius: 5px;
}

.input-color-img #bg-color {
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-img .container-bg select {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 30px;
  width: 50%;
  height: 30px;
}

#btn-reset {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

/* Modal dos ---- texto  */
.modal-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px 15px;
}

.modal-text h2 {
  padding-bottom: 20px;
  text-align: center;
}

.label-tb {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  font-size: 15px;
  font-weight: bold;
}

.label-tb textarea {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 7px;
}

.checkbox-one {
  padding: 10px 0;
  font-size: 11px;
}

.modal-text .font-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.modal-text h3 {
  margin: 5px 0;
  font-size: 15px;
}

.modal-text .font-container #font-family {
  width: 100%;
  height: 30px;
  margin-bottom: 3px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
}

.container-ipt-btn {
  display: flex;
  gap: 7px;
}

#font-size {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.container-ipt-btn .align-text {
  width: 50%;
  height: 30px;
}

.container-ipt-btn .align-text button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
}

.color-container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.color-container .selector-color .input-color,
.input-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 30px;
  gap: 10px;
  padding: 10px;
  margin: 5px 0;
  font-size: 12px;
  background-color: #808080;
  border-radius: 5px;
}

#color-font,
#bg-font {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.container-outline {
  margin: 15px 0;
}
.btn-outline {
  display: flex;
  gap: 5px;
}

.container-outline .btn-outline button {
  width: 30%;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}

.container-spacing #spacing {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#line-spacing {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
}

/*Modo Oscuro */
.dark-mode #titulo {
  color: #ffffff;
}

.dark-mode aside {
  background-color: #000000d8;
  color: #ffffff;
}

.dark-mode main {
  background-image: url(imagenes/bg-dm.jpg);
}

.dark-mode header {
  background-color: #000000eb;
  color: #ffffff;
}

/* Modal  js*/
.open {
  display: flex;
}

.close {
  display: none;
}

/* boton de color */
input[type="color"] {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  aside {
    width: 30%;
    padding: 10px;
  }

  .modal-img .container-bg {
    flex-direction: column;
    height: 100%;
  }

  .modal-img h3 {
    margin-top: 10px;
  }

  .modal-img .container-bg .input-color-img,
  .modal-img .container-bg select {
    width: 100%;
  }

  /* texto */

  .container-ipt-btn {
    flex-direction: column;
  }

  .color-container {
    flex-direction: column;
  }

  .container-ipt-btn .align-text {
    display: flex;
    width: 100%;
    gap: 10px;
  }

  #font-size {
    width: 100%;
  }
}

@media screen and (max-width: 780px) /* and (min-width: 680px) */ {
  body {
    flex-direction: column;
  }
  header {
    height: 180px;
  }
  aside {
    width: 100%;
    padding: 90px;
  }
  main {
    padding-top: 50px;
  }
  .img-div {
    max-width: 400px;
    min-width: 300px;
    height: 600px;
  }

  .top-text {
    max-width: 400px;
    width: 100%;
  }

  .bottom-text {
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    height: 200px;
  }
  main {
    height: 500px;
  }
  aside {
    width: 100%;
    padding: 20px;
  }
  .img-div {
    max-width: 300px;
    min-width: 250px;
    height: 350px;
  }

  .top-text {
    max-width: 300px;
    width: 100%;
    padding: 6px;
  }

  .bottom-text {
    max-width: 300px;
    width: 100%;
    padding: 6px;
  }
}
